[submodule "lib/jlinker"]
	path = lib/jlinker
	url = https://github.com/MadScientist2854/jovis-linker
[submodule "lib/keystone"]
	path = lib/keystone
	url = https://github.com/keystone-engine/keystone
